{% extends "base.html" %}

{% block content %}
  <h3> Devices {% if devices %}<small class="text-muted">({{ devices|length }} Device{{ devices|length|pluralize:"s" }})</small>{% endif %}</h3>
  <hr>
  
  {% load static %}
    <!-- <img src="{% static "kobeLayup.gif" %}" alt="My image"> -->
  <hr>
    {% if devices %}
    <div class="card-columns">
      {% for device in devices %}
        {% include "partials/card.html" %}
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-primary" role="alert">No devices to display.</div>
  {% endif %}
{% endblock %}
